body{
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#game-wrapper{
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#game-wrapper canvas{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    user-select: none;
    pointer-events: none;
}

#message{
    position: relative;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}